default m
    help
      Exercises DAL RPC calls to QDSP6.
 +    
 +config CPU_VOLTAGE_TABLE
 +  bool "Enable CPU Voltage Table via sysfs for adjustements"
 +  default n
 +  help
 +    Qualcomm Krait User configurable CPU Voltage Control Interface
 +
  
  if CPU_FREQ_MSM
